body{
    background-image: url("nasa.jpg");

  }

  .backg{

    background-image: url("solar.gif");
  }
  .backgg{

    background-image: url("solar.gif");
  }
 button {
   size: 20px;
 }
h1{
  color: brown;
 font-family: Nasalization ;

}
.card{
  margin-top: 30px;
  margin-bottom: 30px;;
  border-radius: 150px;
 
}
.lo{
  color: brown;
  font-family: Nasalization ;
  size: 20px;

}
h2{
  color:yellow;
  font-family: Nasalization ;
}


@media screen and (max-width: 600px) {
  body {
    display: none;
    
  }
}