body{
    background-image: url("nasa.jpg");

  }

  .backg{

    background-image: url("solar.gif");
  }
 button {
   size: 20px;
 }
h1{
  color: brown;
 font-family: Nasalization ;

}
.card{
  margin-top: 30px;
  margin-bottom: 30px;;
  border-radius: 150px;
 
}
h2{
  color: white;
  font-family: Nasalization ;

}